default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV["DATABASE_USER"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  host: <%= ENV["DATABASE_HOST"] %>

development:
  <<: *default
  database: <%= ENV["DATABASE_NAME"] %>
  port: <%= ENV["DATABASE_PORT"] %>

test:
  <<: *default
  database: task_viewer_test
  port: <%= ENV["DATABASE_PORT"] %>

production:
  <<: *default
  database: task_viewer_production
